/* General Reset and Styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: none;
}

/* Centering Container */
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #E1DEDD;
    z-index: 1;
}

/* Logo Styles */
.logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 40px;
    z-index: 3;
}

.logo {
    font-size: 48px;
    transition: all 0.5s ease;
    white-space: nowrap;
    color: #000;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vector-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.bracket {
    display: inline-block;
    transition: opacity 0.5s ease;
    font-size: 100px;
    line-height: 0.9;
    font-weight: 300;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #E1DEDD;
    border-radius: 50%;
    transition: all 0.5s ease;
    pointer-events: none;
}

/* Magnitude Bars */
.vector-bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.vector-bar {
    position: absolute;
    background-color: #000;
    width: 6px;
    height: 50%;
    top: 50px;
}

.vector-bar:nth-child(1), .vector-bar:nth-child(2) { left: 30px; }
.vector-bar:nth-child(3), .vector-bar:nth-child(4) { right: 30px; }
.vector-bar:nth-child(2) { left: 15px; }
.vector-bar:nth-child(3) { right: 15px; }

/* Navigation Styles */
.scaling-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    transition: transform 0.5s ease;
    z-index: 0;
}

.svg-container {
    transform-origin: center;
    animation: rotate 20s linear infinite;
}

.svg-container:hover {
    animation-play-state: paused;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    fill: black;
}

a text {
    transition: font-size 0.3s ease;
}

/* Updated hover style for underline effect */
a:hover text {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-underline-offset: 10px;
}

/* Adjust Circle Initial Size */
.circle {
    width: 320px;
    height: 320px;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .circle {
        width: 240px;
        height: 240px;
    }
}

/* Canvas Styling */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

